:root {
    --fontfamily:'Caalibri', serif;
    --cor-primaria: #3b2500ff;
    --cor-secundaria: #fff0d0ff;
    --cor-terceira:rgb(252, 218, 143);
}


body {
    background-color: var(--cor-secundaria); 
    font-family: var(--fontfamily);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;

}

.textoLogin{
    color: var(--cor-secundaria);
    font-size: 40px;
}

.login-container {
    background-color: var(--cor-primaria); 
    padding: 40px 40px;
    border-radius: 7px;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.4);
    text-align: center;
    height: 480px;
    width: 400px;
    margin-top: 130px;
    margin-bottom: 20px ;
    margin-left: 15px;
    margin-right: 15px;
}

.logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 auto 0;
}

.login-form .input-group {
    margin-bottom: 5px;
    text-align: left;
}

.login-form label {
    font-size: 20px;
    color: var(--cor-secundaria);
    display: block;
    margin-bottom: 5px;
}

.login-form input {
    width: 100%;
    padding: 12px;
    background-color: var(--cor-secundaria); 
    border-radius: 7px;
    box-sizing: border-box;
    font-size: 16px;
    outline: none;
}

.login-form input::placeholder {
    opacity: 0.7;
}

.show-password-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.show-password-container input[type="checkbox"] {
    width: auto;
    margin-right: 8px;
    cursor: pointer;
}

.show-password-label {
    font-size: 15px !important;
    color: var(--cor-secundaria);
    margin-top: 5px;
}

.access-button {
    width: 60%;
    height: 45px;
    padding: 10px;
    background-color: var(--cor-terceira); 
    border: none;
    border-radius: 7px;
    color: var(--cor-primaria); 
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}

.signup-link {
    margin-top: 20px;
    color: var(--cor-secundaria);
    font-size: 19px;

}

.signup-link a {
    color: var(--cor-terceira);
    text-decoration: none;
}

@media (max-width: 768px) {
    .login-container {
        /* Permite que o contêiner de login se ajuste a largura da tela */
        width: 100%;
        max-width: 400px;
        padding: 30px; /* Reduz o padding para um melhor visual */

    }

    .textoLogin {
        font-size: 30px; /* Reduz o tamanho da fonte do título */
    }

    .login-form label {
        font-size: 18px; /* Ajusta o tamanho da fonte das labels */
    }

    .login-form input {
        padding: 10px; /* Reduz o padding dos inputs */
    }
    
    .access-button {
        width: 80%; /* Aumenta a largura do botão para ocupar mais espaço */
        font-size: 18px; /* Reduz o tamanho da fonte do botão */
    }
    
    .signup-link {
        font-size: 17px; /* Reduz o tamanho da fonte do link */
    }
}

/* Telas para CELULARES (Largura máxima de 480px) */
@media (max-width: 480px) {
    .login-container {
        /* Ocupa a maior parte da tela em celulares, mantendo uma pequena margem */
        width: 80%;
        margin-top: 280px;
    }

    .textoLogin {
        font-size: 24px; /* O título fica menor para caber melhor na tela */
    }

    .login-form label {
        font-size: 16px; /* Ajusta o tamanho da fonte das labels para caber */
    }

    .login-form input {
        padding: 8px; /* Padding mínimo para os inputs */
    }

    .access-button {
        width: 100%; /* O botão ocupa a largura total */
        font-size: 16px; /* Fonte menor para caber no botão */
    }

    .signup-link {
        font-size: 16px; /* Ajusta o tamanho da fonte do link */
    }
}